body {
    background-color: #24272e;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background: white;
    padding: 20px;
}

header > h1 {
    color: #24272e;
    text-align: center;
}

.score-board {
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    color: white;
    font-size: 46px;
    padding: 15px 20px;
    position: relative;
}

.badge {
    background: #e2584d;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: inherit;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -25px;
}

#computer-label {
    position: absolute;
    top: 30px;
    right: -30px;
}

.result {
    font-size: 40px;
    margin-bottom: 50px;
}

.choices {
    margin-top: 50px;
}

.choice {
    display: inline-block;
    border: 4px solid white;
    border-radius: 50%;
    padding: 10px;
    margin: 0 20px;
    transition: all 0.3s ease;
}

.choice:hover {
    cursor: pointer;
    background: #363636;
}

.choice > img {
    width: 100px;
    height: 100px;
}
